<!-- <div class="">
    <div *ngIf="vehicleResult!=null">
        <ng-container *ngFor="let i of vehicleResult">
            {{i.amount}}
        </ng-container>
    </div>
    <div *ngIf="healthResult!=null">
        <ng-container *ngFor="let i of healthResult">
            {{i.amount}}
        </ng-container>
    </div>
</div> -->
<div class="overflow-hidden relative">
    <div class="flex transition-transform duration-300 ease-in-out" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
      <div *ngFor="let item of items; let i = index" class="w-full flex-shrink-0">
        <div class="bg-gray-200 p-4 rounded shadow-md">{{ item }}</div>
      </div>
    </div>
    
    <button class="absolute top-1/2 transform -translate-y-1/2 left-0 px-4 py-2 bg-gray-300 rounded-l" (click)="prev()">Previous</button>
    <button class="absolute top-1/2 transform -translate-y-1/2 right-0 px-4 py-2 bg-gray-300 rounded-r" (click)="next()">Next</button>
  </div>