<div class="flex items-center justify-center h-screen">
  <div #stripeContainer class="flex flex-col w-full items-center">
    <!-- Your custom payment form -->
    <form
      #paymentForm
      class="w-full max-w-lg bg-white rounded-md p-6 shadow-lg"
    >
      <label
        for="card-element"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Card details:</label
      >
      <div
        id="card-element"
        class="border p-3 mb-4 rounded-md focus:outline-none focus:ring focus:border-blue-500"
      ></div>

      <div class="mb-6">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
          >Name on Card:</label
        >
        <input
          type="text"
          id="name"
          placeholder="John Doe"
          class="w-full border p-3 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-500 transition duration-300 ease-in-out"
        />
      </div>

      <button
        type="button"
        [disabled]="isDisabled"
        (click)="makePayment()"
        class="bg-blue-500 disabled:bg-gray-300 disabled:opacity-50 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-md transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none"
      >
        Make Payment
      </button>
    </form>
  </div>
</div>
