<div *ngIf="isLoggedIn()">
  <app-navbar></app-navbar>
  <div class="flex min-h-full flex-col justify-center px-12 py-12 lg:px-24">
    <form class="flex-col space-y-6">
      <div class="space-y-3">
        <h2 class="text-2xl font-semibold leading-7 text-gray-900">
          Personal Details
        </h2>
        <div class="flex flex-row border-b border-gray-900/10 pb-12">
          <div class="flex-1 flex-col mt-10 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label
                for="username"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Name</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="username"
                    id="username"
                    autocomplete="username"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Your Name"
                    [(ngModel)]="formData.personalDetails.name"
                  />
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label
                for="useremail"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Email</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="email"
                    name="useremail"
                    id="useremail"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Your Email"
                    [(ngModel)]="formData.personalDetails.email"
                  />
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label
                for="phone"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Phone No.</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="number"
                    name="phone"
                    id="phone"
                    autocomplete="username"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Your Phone No."
                    [(ngModel)]="formData.personalDetails.phone"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1 hidden md:flex">
            <img
              src="../../assets/images/personal_details.jpg"
              class="w-3/4"
              alt="vehicle_form"
            />
          </div>
        </div>
      </div>
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-2xl font-semibold leading-7 text-gray-900">
            Vehicle Details
          </h2>
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label
                for="model"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Vehicle Model</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="model"
                    id="model"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Vehicle Model"
                    [(ngModel)]="formData.vehicleDetails.model"
                  />
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label
                for="vehicleType"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Vehicle Type</label
              >
              <ul class="grid w-full gap-6 md:grid-cols-3">
                <li>
                  <input
                    type="radio"
                    name="vehicleType"
                    id="car"
                    value="car"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.vehicleDetails.type"
                  />
                  <label
                    for="car"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">Car</div>
                    </div>
                  </label>
                </li>
                <li>
                  <input
                    type="radio"
                    name="vehicleType"
                    id="bike"
                    value="bike"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.vehicleDetails.type"
                  />
                  <label
                    for="bike"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">Bike</div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
            <div class="sm:col-span-4">
              <label
                for="reg_no"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Vehicle Registration No.</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="text"
                    name="reg_no"
                    id="reg_no"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Reg No."
                    [(ngModel)]="formData.vehicleDetails.regNo"
                  />
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label
                for="reg_date"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Vehicle Registration Date</label
              >
              <div class="mt-2">
                <div
                  class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 sm:max-w-md"
                >
                  <input
                    type="date"
                    name="reg_date"
                    id="reg_date"
                    class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                    placeholder="Enter Registration Date"
                    [(ngModel)]="formData.vehicleDetails.regDate"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <h2 class="text-2xl font-semibold leading-7 text-gray-900">
            Insurance Details
          </h2>
          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label
                for="tenure"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Tenure</label
              >
              <ul class="grid w-full gap-6 md:grid-cols-3">
                <li>
                  <input
                    type="radio"
                    name="tenure"
                    id="one-year"
                    value="one-year"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.insuranceDetails.tenure"
                  />
                  <label
                    for="one-year"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">1 Year</div>
                    </div>
                  </label>
                </li>
                <li>
                  <input
                    type="radio"
                    name="tenure"
                    id="two-year"
                    value="two-year"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.insuranceDetails.tenure"
                  />
                  <label
                    for="two-year"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">2 Year</div>
                    </div>
                  </label>
                </li>
                <li>
                  <input
                    type="radio"
                    id="three-year"
                    name="tenure"
                    value="three-year"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.insuranceDetails.tenure"
                  />
                  <label
                    for="three-year"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">3 Year</div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
            <div class="sm:col-span-4">
              <label
                for="insuranceType"
                class="block text-sm font-medium leading-6 text-gray-900"
                >Insurance Type</label
              >
              <ul class="grid w-full gap-6 md:grid-cols-3">
                <li>
                  <input
                    type="radio"
                    name="insuranceType"
                    id="comprehensive"
                    value="comprehensive"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.insuranceDetails.type"
                  />
                  <label
                    for="comprehensive"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">Comprehensive</div>
                    </div>
                  </label>
                </li>
                <li>
                  <input
                    type="radio"
                    name="insuranceType"
                    id="thirdParty"
                    value="thirdParty"
                    class="hidden peer"
                    required
                    [(ngModel)]="formData.insuranceDetails.type"
                  />
                  <label
                    for="thirdParty"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100"
                  >
                    <div class="block">
                      <div class="w-full">Third Party</div>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
        <div class="flex items-center justify-center gap-x-12">
          <button
            (click)="getQuote()"
            type="button"
            class="inline-flex items-center justify-center w-full p-3 text-gray-500 border border-gray-200 rounded-lg cursor-pointer text-white border-blue-600 hover:text-gray-600 hover:bg-gray-100 bg-blue-500
            text-xl
            p-3
            "
          >
            Get Quote
          </button>
        </div>
      </div>

      <!-- component -->
<div *ngIf="show" class="bg-blue-300 py-24 rounded-md sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Your Shield in Life's Journey.</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Pay now and get instant peace of mind with comprehensive coverage.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-blue-600 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
      <div class="p-8 sm:p-10 lg:flex-auto">
        <div class="mt-10 flex items-center gap-x-4">
          <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">What’s included</h4>
          <div class="h-px flex-auto bg-red-400"></div>
        </div>
        <ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
           Cashless claim settlement
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            500+ Auto service centers listed
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Financial security, peace of mind.
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Lowest price gurantee
          </li>
        </ul>
      </div>
      <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
        <div class="rounded-2xl bg-blue-400 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
          <div class="mx-auto max-w-xs px-8">
            <p class="text-base font-semibold text-gray-600">Pay once, own it forever</p>
            <p class="mt-6 flex items-baseline justify-center gap-x-2">
              <span class="text-5xl font-bold tracking-tight text-gray-900">
                ₹{{formData.amount}} </span>
                <span class="text-sm font-semibold leading-6 tracking-wide text-gray-600">(Tax Included)</span>
            </p>
            <a
            [routerLink]="['/pay']"
            [queryParams]="{ formData: (this.formData | json) }"
         class="mt-10 block w-full rounded-md bg-red-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Buy Insurance</a>
            <p class="mt-6 text-xs leading-5 text-gray-600">Invoices and receipts available for easy company reimbursement</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </form>
  </div>
</div>
<app-footer></app-footer>